{% extends 'auth_base.html' %}

{% block cssExtra %}
    input.ui-autocomplete-loading { background: white url('/static/css/images/ui-anim_basic_16x16.gif') right center no-repeat; }
{% endblock %}

{% block contentRight %}

    <h2>Submit Route</h2>

    <div class="contentRightBlock">

    {% if error %}
        <div class="error">Please fix the following errors<br/>{{ error|safe }}</div>
    {% endif %}

    <form action="/u/route/save" method="post">
    <div class="build">
        <label for="area">Area</label>
        <div class="widget">
            <input type="text" name="area" id="area" size="20" maxlength="35" value="{{ area }}"/>
        </div>
    </div>

    <div class="build">
        <label for="route">Route</label>
        <div class="widget">
            <input type="text" name="route" id="route" size="20" maxlength="35" value="{{ route }}"/>
        </div>
    </div>

    <div class="build">
        <label for="work_date">Completed On</label>
        <div class="widget">
            <input type="text" name="work_date" id="work_date" size="20" maxlength="35" value="{{ work_date }}" class="datepicker" style="width: 130px"/>
            <p class="help_text">Date that work on the route was completed.</p>
        </div>
    </div>

    <div class="build">
        <label for="who">Bolters</label>
        <div class="widget">
            <input type="text" name="who" id="who" size="20" maxlength="35" value="{{ who }}"/>
            <p class="help_text">Who completed the work.</p>
        </div>
    </div>

    <div class="build">
        <label for="bolts_placed"># Bolts</label>
        <div class="widget">
            <input type="text" name="bolts_placed" id="bolts_placed" size="2" maxlength="2" value="{{ bolts_placed }}" style="width: 45px"/>
            <p class="help_text">Number of bolts replaced.</p>
        </div>
    </div>

    <div class="build">
        <label for="anchor_replaced">Anchor R?</label>
        <div class="widget">
            <input type="checkbox" name="anchor_replaced" id="anchor_replaced" value="1"{% if  anchor_replaced == 1 %} checked{% endif %}/>
            <p class="help_text">Was the anchor replaced?</p>
        </div>
    </div>

    <div class="build">
        <label for="new_anchor">New Anchor?</label>
        <div class="widget">
            <input type="checkbox" name="new_anchor" id="new_anchor" value="1"{% if  new_anchor == 1 %} checked{% endif %}/>
            <p class="help_text">Active users may login with full access according to their role.</p>
        </div>
    </div>

    <div class="build">
        <label for="notes">Notes</label>
        <div class="widget">
            <textarea name="notes" id="notes" rows="5" cols="50" style="width: 500px">{{ notes }}</textarea>
        </div>
    </div>

    <div class="build">
        <label>&nbsp;</label>
        <div class="widget">
            <input type="submit" value="submit"/>
        </div>
    </div>


        <input type="hidden" name="area_id" id="area_id" value=""/>
        <input type="hidden" name="route_id" id="route_id" value=""/>

    </form>
    </div>
    </div>
<script>
    $(function() {
        $( ".datepicker" ).datepicker();
        //$( "input:submit" ).button();
        $("#area").autocomplete({
            source: "/u/area/suggest",
            minLength: 2,
            select: function (event, ui) {
                $("#area_id").val(ui.item.value);
                $("#area").val(ui.item.label);
                return false;
            }
        });

        $("#route").autocomplete({
            source: function(request, response) { 
                request.area_id = $('#area_id').val();
                $.getJSON('/u/route/suggest', request, function(data) {
                    response(data);
                });
            },
            minLength: 2,
            select: function (event, ui) {
                $("#route_id").val(ui.item.value);
                $("#route").val(ui.item.label);
                return false;
            }
        });

        $.get('/u/route/suggest', function(data) {
            console.log(data);
        });
    });
</script>

{% endblock %}

{% macro input(name, value='', type='text', size=20) -%}
    <input type="{{ type }}" name="{{ name }}" value="{{ value|e }}" size="{{ size }}">
{%- endmacro %}

{% macro html_options(options, def = '') -%}
    {% for option in options  %}
        <option value="{{ option[0] }}">{{ option[1] }}</option>
    {% endfor %}
{%- endmacro %}
