<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <title>{% if title %}{{ title }}{% else %}Climb Spotter{% endif %}</title>
    <link rel="stylesheet" href="/static/css/main.css" type="text/css"/>
    <style type="text/css">

        {{ css }}

        {% block cssExtra %}{% endblock %}

    </style>
    <link rel="stylesheet" href="/static/css/jq.css" type="text/css"/>
    <script type="text/javascript" src="https://www.google.com/jsapi?key=ABQIAAAAr3tFP4-aIDSXrNZA9rx2VxSsm6LF6J7K9e2qSPZLVjjzNGyBFRRJpy8NTbDEYLxulguQV25yrGYQuw"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.0/jquery.min.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js"></script>
</head>
<body>
<div id="wrap">
    <div id="headerWrap">
        <div id="header">
            <div id="headerLeft">
                <div id="logo"><a href="/">Climb Spotter</a></div>
                <div id="byline">Anchor Replacement and Bolt Tracking System</div>
            </div>
            <div id="headerRight">
                <div id="headerRightNav">
                    <ul>
                        <li class="first"><a href="/">Home</a></li>
                        <li><a href="/areas">Areas</a></li>
                        <li><a href="/about">About</a></li>
                        {% if session.user_id %}
                            <li><a href="/logout">Logout</a></li>
                        {% else %}
                            <li><a href="/register">Register</a></li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>
    </div>

    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <div id="flashWrap">
        <div id="flash">
            {% for message in messages %}
            {{ message }}<br/>
            {% endfor %}
        </div>
    </div>
    {% endif %}
    {% endwith %}

    <div id="contentWrap">
    <div id="content">
        <div id="contentLeft">
            <div id="contentLeftInner">
                {% block contentLeft %}
                    <div class="leftBlock">
                        <h2>Login</h2>
                        <div class="leftBlockInner" style="background: #fff">
                            {% if session.user_id %}
                                <div style="font-size: 12px; padding: 5px">
                                    <div>You are currently logged in. To re-enter Climb Spotter, click the button below:</div>
                                    <div style="padding: 5px"><button style="font-size: 12px" id="reenter">Enter Climb Spotter</button></div>
                                    <div style="margin-top: 10px">Or <a href="/logout">Logout</a></div>
                                </div>
                            {% else %}
                            <form action="/doLogin" method="post">
                                <table class="form">
                                <tbody>
                                <tr>
                                    <td><label for="username">Username:</label></td>
                                </tr>
                                <tr>
                                    <td><input type="text" name="username" id="login_username" size="8" style="width: 150px"/></td>
                                </tr>
                                <tr>
                                    <td><label for="password">Password:</label></td>
                                </tr>
                                <tr>
                                    <td><input type="password" name="password" id="login_password" size="8" style="width: 150px"/></td>
                                </tr>
                                <tr>
                                    <td><input type="submit" value="submit"/></td>
                                </tr>
                                </tbody>
                                </table>
                            </form>
                            <div style="margin: 15px; font-size: 12px"><a href="/register">Register</a> - <a href="/forgotPassword">Lost Password</a></div>
                            {% endif %}
                        </div>
                    </div>

                {% endblock %}
            </div>
        </div>
        <div id="contentRight">
            <div id="contentRightInner">
                {% block contentRight %}
                <h2>Track Anchor Replacements and Bolting</h2>
                <div class="contentRightBlock">
                <p>Welcome to Climb Spotter, an anchor replacement and bolting tracking system.  Climb Spotter is designed
                to give local climbing organizations and individuals a way to track climbing routes anchors and bolts either
                for internal use or to provide to landowners or public agencies.</p>
                <p>Climb Spotter can help you to maintain an accurate list of routes, dates equipped, type of hardware used and who
                equipped the routes.</p>
                </div>
                {% endblock %}
            </div>
        </div>
        <div style="clear: both"></div>
    </div>
    </div>
    <div style="clear: both"></div>
    <div id="footerWrap">
        <div id="footer">
            &copy; Copyright All Rights Reserved, 2011
        </div>
    </div>
</div>
<script type="text/javascript">
$(function() {
    $("button, input:submit").button();
    $("#reenter").click(function() { window.location.href = "/u/route/form"; });
});
</script>
</body>
</html>
