{% extends 'auth_base.html' %}

{% block contentRight %}
    <h2>Manage Users (5)</h2>
    <!--<div style="width: 720px; background: #fff; font-size: 14px; padding: 2px 5px">Select: All | None</div>-->
    <ul>
    {% for user in users %}
        <li style="background: {{ loop.cycle('#eee', '#fff') }}; padding: 5px; width: 720px; font-size: 14px">
            <!--<input type="checkbox" style="margin: 2px 10px 2px 5px"/>--><span style="width: 500px; float: left; font-size: 14px"><a href="/u/user/form/{{ user.username }}">{{ user.display_name }} ({{ user.username }})</a></span>
            <span style="width: 120px; float: left">{% if user.roles %}{{ user.roles }}{% else %}--{% endif %}</span>
            <span style="width: 80px; float: left; font-size: 14px">{% if user.active == 1 %}Active{% else %}Not Active{% endif %}</span>
        </li>
    {% endfor %}
    </ul>
<!--
    <table class="data">
    <tr>
        <th style="width: 120px">Display Name</th>
        <th style="width: 80px">Username</th>
        <th style="width: 80px">Created</th>
        <th style="width: 80px">Last Login</th>
        <th>Role</th>
        <th>Active</th>
        <th>&nbsp;</th>
    </tr>
    {% for user in users %}
    <tr>
        <td>{{ user.display_name }}</td>
        <td>{{ user.username }}</td>
        <td>{{ user.created }}</td>
        <td>{{ user.last_login }}</td>
        <td>{{ user.roles }}</td>
        <td>{% if user.active  %}Yes{% else %}<a href="/u/user/activate?id={{ user.user_id }}">Activate</a>{% endif %}</td>
        <td><a href="/u/user/form/{{ user.username }}">edit</a></td>
    </tr>
    {% endfor %}
    </table>
-->

{% endblock %}
